<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.turing.mapper.EnquireDetailMapper">
  <resultMap id="BaseResultMap" type="com.turing.entity.EnquireDetail">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="enquire_id" jdbcType="BIGINT" property="enquireId" />
    <result column="order_id" jdbcType="BIGINT" property="orderId" />
    <result column="material_code" jdbcType="VARCHAR" property="materialCode" />
    <result column="material_name" jdbcType="VARCHAR" property="materialName" />
    <result column="amount" jdbcType="VARCHAR" property="amount" />
    <result column="measure_unit" jdbcType="VARCHAR" property="measureUnit" />
    <result column="start_date" jdbcType="TIMESTAMP" property="startDate" />
    <result column="end_date" jdbcType="TIMESTAMP" property="endDate" />
    <result column="standard" jdbcType="VARCHAR" property="standard" />
    <result column="factory" jdbcType="VARCHAR" property="factory" />
    <result column="prod_year" jdbcType="VARCHAR" property="prodYear" />
    <result column="wrap" jdbcType="VARCHAR" property="wrap" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, enquire_id, order_id, material_code, material_name, amount, measure_unit, start_date, 
    end_date, `standard`, factory, prod_year, wrap, remark
  </sql>
  <select id="selectByExample" parameterType="com.turing.entity.EnquireDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from enquire_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from enquire_detail
    where id = #{id,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from enquire_detail
    where id = #{id,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.turing.entity.EnquireDetailExample">
    delete from enquire_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.turing.entity.EnquireDetail">
    insert into enquire_detail (id, enquire_id, order_id, 
      material_code, material_name, amount, 
      measure_unit, start_date, end_date, 
      `standard`, factory, prod_year, 
      wrap, remark)
    values (#{id,jdbcType=BIGINT}, #{enquireId,jdbcType=BIGINT}, #{orderId,jdbcType=BIGINT}, 
      #{materialCode,jdbcType=VARCHAR}, #{materialName,jdbcType=VARCHAR}, #{amount,jdbcType=VARCHAR}, 
      #{measureUnit,jdbcType=VARCHAR}, #{startDate,jdbcType=TIMESTAMP}, #{endDate,jdbcType=TIMESTAMP}, 
      #{standard,jdbcType=VARCHAR}, #{factory,jdbcType=VARCHAR}, #{prodYear,jdbcType=VARCHAR}, 
      #{wrap,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.turing.entity.EnquireDetail">
    insert into enquire_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="enquireId != null">
        enquire_id,
      </if>
      <if test="orderId != null">
        order_id,
      </if>
      <if test="materialCode != null">
        material_code,
      </if>
      <if test="materialName != null">
        material_name,
      </if>
      <if test="amount != null">
        amount,
      </if>
      <if test="measureUnit != null">
        measure_unit,
      </if>
      <if test="startDate != null">
        start_date,
      </if>
      <if test="endDate != null">
        end_date,
      </if>
      <if test="standard != null">
        `standard`,
      </if>
      <if test="factory != null">
        factory,
      </if>
      <if test="prodYear != null">
        prod_year,
      </if>
      <if test="wrap != null">
        wrap,
      </if>
      <if test="remark != null">
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="enquireId != null">
        #{enquireId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        #{orderId,jdbcType=BIGINT},
      </if>
      <if test="materialCode != null">
        #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        #{amount,jdbcType=VARCHAR},
      </if>
      <if test="measureUnit != null">
        #{measureUnit,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="standard != null">
        #{standard,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        #{factory,jdbcType=VARCHAR},
      </if>
      <if test="prodYear != null">
        #{prodYear,jdbcType=VARCHAR},
      </if>
      <if test="wrap != null">
        #{wrap,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.turing.entity.EnquireDetailExample" resultType="java.lang.Long">
    select count(*) from enquire_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update enquire_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=BIGINT},
      </if>
      <if test="record.enquireId != null">
        enquire_id = #{record.enquireId,jdbcType=BIGINT},
      </if>
      <if test="record.orderId != null">
        order_id = #{record.orderId,jdbcType=BIGINT},
      </if>
      <if test="record.materialCode != null">
        material_code = #{record.materialCode,jdbcType=VARCHAR},
      </if>
      <if test="record.materialName != null">
        material_name = #{record.materialName,jdbcType=VARCHAR},
      </if>
      <if test="record.amount != null">
        amount = #{record.amount,jdbcType=VARCHAR},
      </if>
      <if test="record.measureUnit != null">
        measure_unit = #{record.measureUnit,jdbcType=VARCHAR},
      </if>
      <if test="record.startDate != null">
        start_date = #{record.startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.endDate != null">
        end_date = #{record.endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="record.standard != null">
        `standard` = #{record.standard,jdbcType=VARCHAR},
      </if>
      <if test="record.factory != null">
        factory = #{record.factory,jdbcType=VARCHAR},
      </if>
      <if test="record.prodYear != null">
        prod_year = #{record.prodYear,jdbcType=VARCHAR},
      </if>
      <if test="record.wrap != null">
        wrap = #{record.wrap,jdbcType=VARCHAR},
      </if>
      <if test="record.remark != null">
        remark = #{record.remark,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update enquire_detail
    set id = #{record.id,jdbcType=BIGINT},
      enquire_id = #{record.enquireId,jdbcType=BIGINT},
      order_id = #{record.orderId,jdbcType=BIGINT},
      material_code = #{record.materialCode,jdbcType=VARCHAR},
      material_name = #{record.materialName,jdbcType=VARCHAR},
      amount = #{record.amount,jdbcType=VARCHAR},
      measure_unit = #{record.measureUnit,jdbcType=VARCHAR},
      start_date = #{record.startDate,jdbcType=TIMESTAMP},
      end_date = #{record.endDate,jdbcType=TIMESTAMP},
      `standard` = #{record.standard,jdbcType=VARCHAR},
      factory = #{record.factory,jdbcType=VARCHAR},
      prod_year = #{record.prodYear,jdbcType=VARCHAR},
      wrap = #{record.wrap,jdbcType=VARCHAR},
      remark = #{record.remark,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.turing.entity.EnquireDetail">
    update enquire_detail
    <set>
      <if test="enquireId != null">
        enquire_id = #{enquireId,jdbcType=BIGINT},
      </if>
      <if test="orderId != null">
        order_id = #{orderId,jdbcType=BIGINT},
      </if>
      <if test="materialCode != null">
        material_code = #{materialCode,jdbcType=VARCHAR},
      </if>
      <if test="materialName != null">
        material_name = #{materialName,jdbcType=VARCHAR},
      </if>
      <if test="amount != null">
        amount = #{amount,jdbcType=VARCHAR},
      </if>
      <if test="measureUnit != null">
        measure_unit = #{measureUnit,jdbcType=VARCHAR},
      </if>
      <if test="startDate != null">
        start_date = #{startDate,jdbcType=TIMESTAMP},
      </if>
      <if test="endDate != null">
        end_date = #{endDate,jdbcType=TIMESTAMP},
      </if>
      <if test="standard != null">
        `standard` = #{standard,jdbcType=VARCHAR},
      </if>
      <if test="factory != null">
        factory = #{factory,jdbcType=VARCHAR},
      </if>
      <if test="prodYear != null">
        prod_year = #{prodYear,jdbcType=VARCHAR},
      </if>
      <if test="wrap != null">
        wrap = #{wrap,jdbcType=VARCHAR},
      </if>
      <if test="remark != null">
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.turing.entity.EnquireDetail">
    update enquire_detail
    set enquire_id = #{enquireId,jdbcType=BIGINT},
      order_id = #{orderId,jdbcType=BIGINT},
      material_code = #{materialCode,jdbcType=VARCHAR},
      material_name = #{materialName,jdbcType=VARCHAR},
      amount = #{amount,jdbcType=VARCHAR},
      measure_unit = #{measureUnit,jdbcType=VARCHAR},
      start_date = #{startDate,jdbcType=TIMESTAMP},
      end_date = #{endDate,jdbcType=TIMESTAMP},
      `standard` = #{standard,jdbcType=VARCHAR},
      factory = #{factory,jdbcType=VARCHAR},
      prod_year = #{prodYear,jdbcType=VARCHAR},
      wrap = #{wrap,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>