/*系统main页面css*/
@CHARSET "UTF-8";

body {
	font-size: 12px;
	margin: 5px 10px 5px 10px;
	font-family: verdana, arial, helvetica, sans-serif;
}


button {
	margin-left:3px;
	margin-right:3px;
	padding-left:3px;
	padding-right:3px;
	padding-top: 1px;
	border: 1px #666666 solid;
	height: 18px;
	font-size: 12px;
	FILTER: progid:DXImageTransform.Microsoft.gradient( GradientType = 0, startColorstr = #ffffff, endColorstr = #cccccc );
}



/*超链接按钮*/
.globalLinkButton {
	
}

input:focus,input.focus,select:focus,select.focus,textarea:focus,textarea.focus {
	border: 1px red solid;
}
/*页面标题*/
.pageTitle{
	margin: 10px 0px 10px 0px;
	padding: 10px 0px 9px 40px;
	background: url(../images/icon/32x32/ico/copy_32.png) no-repeat;
	font-weight: bold;
	font-size: 14px;
}





/*列表页面css*/

/*列表表格*/
.list .select {
	padding-bottom: 5px;
}
/*列表表格*/
.list table {
	width: 100%;
	background-color: #31559c;
}

/*列表表格头*/
.list table thead th {
	padding: 2px;
	/*background-color: #6382b5;*/
	border-top: 1px #ffffff solid;
	border-left: 1px #ffffff solid;
	FILTER: progid:DXImageTransform.Microsoft.gradient( GradientType = 0, startColorstr = #ffffff, endColorstr = #cccccc );
}

/*鼠标经过的列表行的单元格样式*/
.list table tbody .trLight td {
	background-color: #DDDDDD;
}

/*选定后列表行的单元格样式*/
.list table tbody .trHighLight td {
	background-color: #BBBBBB;
}

/*鼠标移上去后光标的样式*/
.list table tbody tr {
	cursor:hand;
}

/*列表表格体单元格正常样式*/
.list table tbody td {
	padding: 4px;
	background-color: #e7f3ff;
	empty-cells: show;
}

/*列表表格上方的操作区域div*/
.listTopOperation {
	margin: 5px 0px 5px 0px;
}

/*列表表格上方的操作区域div中的表单*/
.listTopOperation form {
	margin: 0px;
	padding: 0px;
}

/*列表表格上方的操作区域div中的增删改div*/
.listTopOperation .IUD {
	text-align: right;
}

/*列表表格下方的操作区域div*/
.listBottomOperation {
	margin-top: 5px;
	text-align: right;
}








/*编辑页面css*/
/*编辑页面的表单*/
.editTable form {
	margin: 0px;
	padding: 0px;
}

/*编辑页面的布局表格*/
.editTable table {
	background-color: #31559c;
}

/*编辑页面的布局表格的单元格基本样式*/
.editTable table td{
	padding: 2px;
	background-color: #e7f3ff;
}

/*编辑页面的布局表格的左边单元格*/
.editTable table .tdLeft{
	text-align: right;
	background-color: #EEEEEE;
	width: 20%;
}

/*编辑页面的布局表格的右边单元格*/
.editTable table .tdRight{
	text-align: left;
	background-color: #e7f3ff;
	width: 80%;
}

/*编辑页面的布局表格的顶部单元格*/
.editTable table .tdTop{
	text-align: center;
	font-weight: bold;
}

/*编辑页面的布局表格的底部单元格*/
.editTable table .tdBottom{
	padding: 3px 0px 3px 0px;
	text-align: center;
}


/*********************************************************************************************************************/

/*详细信息div*/
div.info_detail {
	width:auto;
	border: #000000 1px solid;
	top:200;
	left:150;
	background: #cccccc
    float: left;
	position:absolute;
    margin: 20px auto;
    text-align: center;
}

/*********************************************************************************************************************/

/* 自动完成的样式定义 */
div.auto_complete {
    float: left;
    border: #888 1px solid;
    padding: 0px;
    margin: 0px;
    width: 250px;
    position: absolute;
    background-color: white;
    text-align: left;
    color: #454545;
}

div.auto_complete ul {
    border: #888 1px solid;
    padding: 0px;
    margin: 0px;
    WIDTH: 100%;
    list-style-type: none;
}

div.auto_complete ul li {
    padding: 3px;
    margin: 0px;
}

div.auto_complete ul li.selected {
    background-color: #ffb;
    border-top: 1px solid #CADAE8;
    border-bottom: 1px solid #CADAE8;
}

div.auto_complete ul STRONG.highlight {
    padding: 0px;
    margin: 0px;
    color: #800;
}